﻿
@{
    Layout = null;
}

<!doctype html>
<html ng-app>
<head>
    <title></title>
    
    <script src="~/Scripts/Node/video.js"></script>
    <script src="~/Scripts/Node/xvideos.js"></script>
    
</head>
<body>
    

</body>
</html>

