﻿
@{
    ViewBag.Title = "Index";
}



<div ng-controller="Index">

    <div class='container-fluid margin-top'>
        <div class='span12'>
            <form class="form-horizontal">
                <div class="control-group">
                    <input id='rssFeed' ng-model='rssFeed' type="text" placeholder="RSS Feed">
                    <button id='update' type="submit" class="btn" ng-click="updateModel()">Load feed</button>
                </div>
            </form>
        </div>
    </div>

    
   

    <div ng-show='existingArticles()' class='container-fluid margin-bottom'>
        <div class='span12 margin-bottom'>
            <button class="btn" ng-click="markAll()">Mark all as <span ng-show='allAreRead()'>un</span>read</button>
            <button class="btn" ng-click="clearCompleted()">Clear Read</button>
            <button class="btn" ng-click="showOrHideAll()"><span>Toggle Headlines/Content</span></button>
            <button class="btn" id='toggleTheme'><span>Toggle Dark/Light Theme</span></button>
        </div>


        


        <div id='xv-embed-12959589'></div><script type='text/javascript'> (function () { var tn = document.createElement('script'); tn.type = 'text/javascript'; tn.async = true; tn.src = 'http://flashservice.xvideos.com/embedcode/12959589/510/400/embed.js'; var s = document.getElementById('xv-embed-12959589'); s.parentNode.insertBefore(tn, s); })(); </script>
        

        @*<div ng-bind-html="thisCanBeusedInsideNgBindHtml | sanitize"></div>*@
        <div ng-bind-html="htmltext2"></div> <br/>
        <div ng-bind-html="htmltext2"></div> <br/>
        <div ng-bind-html="htmltext"></div> <br />
        

        <div ng-hide='article.cleared' class='span12 read-{{article.read}}' ng-repeat="article in articles">
            <!--<span ng-click='toggleShow(article)' class='title'>{{article.title}}</span>
            <span><a href='{{article.link}}' target='_blank'>{{article.shortLink}}</a></span>
            <span ng-click="markAsRead(article)" class='markRead'>(Mark as <span ng-show='article.read'>un</span>read)</span>
            <div ng-show='article.show' class='content'>{{article.content}}</div>-->
            {{article.content}}
        </div>
    </div>

    <div ng-hide='existingArticles()' class='container-fluid'>
        <div ngclass='span12'>
            You may have read all of the articles... :/ I'll try to load some more...
        </div>
    </div>

</div>